<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image <%=num%></title>
</head>
<body>
    <header>
        <img src='/public/image<%= num %>.jpg'>
    </header>
        <nav>
            <ul>
                <li><a href=""><input type="button" value=""></a></li>
            </ul>
        </nav>
        <section>
            <div><img src="/public/image<%= num %>.jpg" width="500"></div>
            <p>Description Texteeeeeeee!</p>
            <a href="image5_page"><img src="image5_small"></a>
            <a href="image2_page"><img src="image2_small"></a>
        </section>
        <footer>site réalisé en janvier 2023</footer>